@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Peralta&display=swap');

/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Peralta', cursive, sans-serif;
    color: white;
    background-color: black;
}

/* Header section */
header {
    font-family: 'Bungee Spice', cursive, sans-serif;
    text-align: center;
    height: 50px;
    font-size: 75%;
    letter-spacing: 2px;
    margin: 50px 0;
}

/* Footer section */
footer {
    background-image: url(../assets/images/footer_background.png);
    min-height: 80px;
    width: 100%;
    left: 0%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

footer div {
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: black;
    margin: 10px 25px;
    padding-top: 10px;
}

/* Tic Tac Toe game area */
.tictactoe {
    min-height: 75vh;
    margin: 0 auto;
}

h1 {
    font-family: 'Bungee Spice', cursive, sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
}

#winner-text {
    font-size: 36px;
    margin: 10px;
    letter-spacing: 2px;
}

.tile {
    width: 165px;
    height: 165px;
    border: 4px solid;
    border-top: transparent;
    border-right: transparent;
    color: white;
    cursor: pointer;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile0,
#tile3,
#tile6 {
    border-left: transparent;
}

#tile6,
#tile7,
#tile8 {
    border-bottom: transparent;
}

#game-area {
    font-family: 'Bungee Spice', cursive, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

.tictactoe {
    text-align: center;
}

#restart,
#change-game {
    font-family: 'Bungee Spice', cursive, sans-serif;
    font-size: 28px;
    background-color: transparent;
}

#change-game {
    margin-bottom: 50px;
}

#restart:hover,
#change-game:hover {
    cursor: pointer;
    transform: translateY(2px);
}